@import "compass";
@import "bootstrap";
.chart {
	width: 640px;
	height: 320px;
	position: relative;
}
.chart_col {
	position: absolute;
	bottom: 0;
	float: left;
	height: 0;
	text-align: center;
	background: tint(blue,60);
	@include transition(height 1s cubic-bezier(0.1,1,1,1))
}